body .pages {
    background: linear-gradient(#FFABAB, #FFEFB5);
}

body .ui-content {
    height: 100%;
    padding-top: 25%;
    padding-bottom: 15%;
    padding-left: 0;
    padding-right: 0;
}

body #page1 #title {
    color: white;
    font-size: 5rem;
}

body #page1 div {
    height: 280px;
}

body #page1 a {
    margin: 0 auto;
    width: 12em;
    font-size: medium;
    color: white;
    background: transparent;
    border: white solid 0.2em;
    border-radius: 15px;
}

body #page2 {
    align-content: center;
}

body #page2 .word-panel {
    height: 40%;
    padding: 10%;
}

.word {
    color: white;
    text-align: center;
    font-size: 3em;
    overflow: scroll;
}

body #page2 a {
    margin: 5% auto;
    width: 10em;
    font-size: medium;
    font-weight: 200;
    color: white;
    background: transparent;
    border: white solid 0.15em;
    border-radius: 15px;
}

.buttons {
    width: 100vw;
    position: fixed;
    bottom: 20%;
}
